body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.quadrado-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #3305ff;
    width: 500px;
    height: 500px;
}
    .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13, .box14, .box15, .box16, .box17, .box18, .box19, .box20, .box21, .box22, .box23, .box24, .box25, .box26, .box27, .box28, .box29, .box30 {
        background-color: rgb(0, 255, 242);
        width: 50px;
        height: 500px;
        border: 1px solid rgb(0, 0, 0);
    }