body {
    margin: 0;
    background-color: black;
}

.cubo {
    width: 60px;
    height: 60px;
    background-color: red;
    margin: 5px;
    color: white;
    text-align: center;
    line-height: 60px;
}

/* Linha 1 */
.linha1 {
    display: flex;
    justify-content: flex-start;
}

/* Linha 2 */
.linha2 {
    display: flex;
    justify-content: flex-end;
}

/* Linha 3 */
.linha3 {
    display: flex;
    justify-content: center;
}

/* Linha 4 */
.linha4 {
    display: flex;
    justify-content: space-between;
}

/* Linha 5 */
.linha5 {
    display: flex;
    justify-content: space-around;
}

/* Linha 6 */
.linha6 {
    display: flex;
    justify-content: space-evenly;
}

/* Linha 7 */
.linha7 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Linha 8 */
.linha8 {
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
}

/* Linha 9 */
.linha9 {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

/* Linha 10 */
.linha10 {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    color: white;
    text-align: center;
    padding: 20px;
}
